{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_competvet/view/certification_tab


    Example context (json):
    {

    }
}}
<div class="certifications-tab">
    {{#certifications}}
        <div class="card">
            <div class="card-header" id="competvet-view-certifications-cat-heading-{{category}}">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#competvet-view-certifications-cat-{{category}}"
                            aria-expanded="true" aria-controls="competvet-view-certifications-cat-{{category}}">
                        {{categorytext}}
                    </button>
                </h2>
            </div>
            <div id="competvet-view-certifications-cat-{{category}}" class="collapse show" aria-labelledby="competvet-view-certifications-cat-heading-{{category}}"
                 data-parent="#competvet-view-certifications-cat-heading-{{category}}">
                {{#items}}
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span>{{label}}
                                {{#levelnotreached}}(Warning){{/levelnotreached}}
                                {{#confirmed}}(Confirmed){{/confirmed}}
                                {{#viewurl}}<a href="{{viewurl}}">{{#str}}view{{/str}}</a>{{/viewurl}}
                                {{^viewurl}}
                                    {{#isstudent}}
                                        <button class="btn btn-sm btn-outline-secondary"
                                                data-action="cert-decl-student"
                                                data-id="{{criterionid}}"
                                                data-decl-id="{{declid}}"
                                                data-cm-id="{{cmid}}"
                                                data-studentid="{{studentid}}"
                                                data-planningid="{{planningid}}">
                                            {{#str}}declarelevel, competvet{{/str}}
                                        </button>
                                    {{/isstudent}}
                                    {{#isevaluator}}
                                        <button class="btn btn-sm btn-outline-secondary"
                                                data-action="cert-decl-evaluator"
                                                data-id="{{criterionid}}"
                                                data-decl-id="{{declid}}"
                                                data-cm-id="{{cmid}}"
                                                data-studentid="{{studentid}}"
                                                data-planningid="{{planningid}}">
                                            {{#str}}validate, competvet{{/str}}
                                        </button>
                                    {{/isevaluator}}
                                {{/viewurl}}
                            </span>
                        </li>
                    </ul>
                {{/items}}
            </div>
        </div>
    {{/certifications}}
{{#js}}
require(['{{modulename}}/local/forms/cert_decl'], function(Form) {
    Form.init('{{modulename}}');
});
{{/js}}
</div>